.movie {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.movie-card--body{
  padding: 0 1.5em;
  border-left: 2px solid #595959;
  border-right: 2px solid #595959;
}

.item__button {
  background-color: #cfcfcf;
  font-size: 18px;
}

button {
    border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
    border-style: solid;
    border-width: 1px;
    padding: 1px 7px 2px;

    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;


}
