.App {
  text-align: center;
  background-color: pink;
}


ul {
  text-align:left;
  list-style-type: none;
  margin: 10%;
}

li{
  margin-left: 10%;
}



.rentalBox{
  margin-left: 10%;
  margin-right: 10%;
}
